name: CI

on:
  pull_request:
    branches:
      - 'main'
      - 'dependabot/*'

  push:
    branches:
      - 'main'
    tags:
      - '*'

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - lts/*
          - latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run lint
